ul {
  list-style-type: none;
  padding: 0;
}
li {
  animation: fadeIn 3s;
  margin: 12px 0px 12px 0px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App {
  min-height: 70vh;
  min-width: 225px;
  background-color: rgb(225, 235, 247);
  text-align: center;
  align-items: center;
  margin: 55px 35vw 50px 35vw;
  border-radius: 15px;
  box-shadow: 7px 7px 10px rgba(158, 166, 238, 0.603);
}

@media only screen and (max-width: 700px) {
  body {
    margin: 50px -10vw 50px -10vw;
  }
}
@media only screen and (max-width: 340px) {
  body {
    margin: 50px -10vw 50px -10vw;
  }
}

.topOfApp {
  background-image: linear-gradient(
    to right,

    rgb(158, 166, 238),
    rgb(113, 189, 233)
  );
  padding: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.row {
  display: flex;
}
.margin-1 {
  margin-left: 11vw;
}

.todocontrols {
  margin-right: 55px;
  bottom: 0;
  margin-left: auto;
}

.bottomOfApp {
  position: relative;
  padding-top: 5px;
  padding-bottom: 2vh;
}

.button-1 {
  margin-right: 3px;
  background-image: linear-gradient(
    rgba(167, 176, 255, 0.644),
    rgba(124, 207, 255, 0.589)
  );
  border-color: #adb1b8 #a2a6ac #8d9096b9;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-1:active {
  border-bottom-color: #a2a6ac;
}

.button-1:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-1:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

h1 {
  font-size: 48px;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 0.5rem;
  line-height: 1em;
}

b {
  padding: 20px;
}
