ul {
  list-style-type: none;
  padding: 0;
}

.App {
  min-height: 80vh;
  min-width: 225px;
  background-color: aliceblue;
  text-align: center;
  align-items: center;
  margin: 50px 30vw 50px 30vw;
  border: solid;
}

h1 {
  font-size: 48px;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 0.5rem;
  line-height: 1em;
}

.row {
  display: flex;
  margin-left: 43%;
}

.row button {
  margin-right: 10px;
}

button:hover {
  opacity: 0.9;
  color: aliceblue;
}
