html {
  height: 100%;
  background-image: linear-gradient(to bottom, #93c2ff, #aceeff, #93c2ff);
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 50px -10vw 50px -10vw;
  }
}
@media only screen and (max-width: 340px) {
  body {
    margin: 50px -10vw 50px -10vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

b {
  padding: 20px;
}
